.header{
    padding: 15px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(248, 47, 47);
    color: white;
    height: 220px;
    width: 100%;
    display: inline-block;
}
body{
    text-indent: 10px;
}
.logo{
    font-weight: bold;
    text-align: justify;
    text-shadow: 10px;
    text-decoration: solid;
    display: inline-block;
    height: inherit;
    width: 20%;
    font-size: xx-large;
    line-height: 20px;
    font: 2.5em sans-serif;
    
}
.Home{
    font-weight: bold;
    text-align: justify;
    text-shadow: 10px;
    text-decoration: solid;
    display: inline-block;
    height: inherit;
    width: 10%;
    font-size: 2em;
}
.Gallery{
    font-weight: bold;
    text-align: justify;
    text-shadow: 10px;
    text-decoration: solid;
    display: inline-block;
    height: inherit;
    width: 10%;
    font-size: 2em;
}
.About{
    font-weight: bold;
    text-align: justify;
    text-shadow: 10px;
    text-decoration: solid;
    display: inline-block;
    height: inherit;
    width: 10%;
    font-size: 2em;
}
.Team{
    font-weight: bold;
    text-align: justify;
    text-shadow: 10px;
    text-decoration: solid;
    display: inline-block;
    height: inherit;
    width: 13%;
    font-size: 2em;
}
.Offers{
    font-weight: bold;
    text-align: justify;
    text-shadow: 10px;
    text-decoration: solid;
    display: inline-block;
    height: inherit;
    width: 10%;
    font-size: 2em;
}
.Contact{
    font-weight: bold;
    text-align: justify;
    text-shadow: 10px;
    text-decoration: solid;
    display: inline-block;
    height: inherit;
    width: 10%;
    font-size: 2em;
}
a.linking:hover{
    background-color: orange;
}
.main{
    padding: 30px;
    margin: 10px;
}
.Cars{
    text-align: justify;
    font-size: 3em;
    font-stretch: extra-expanded;
    font-weight: bolder;
    font-style: normal;
    color: rgb(14, 13, 13);
    font-family: Arial, Helvetica, sans-serif;
}
.gallery{
    text-align: justify;
    font-size: 2.4em;
    font-stretch: expanded;
    font-weight: bolder;
    font-style: normal;
    color: rgb(248, 47, 47);
    font-family: Arial, Helvetica, sans-serif;
}
.one{
    width: 50px;
    border: 5px solid red;
    color: rgb(248, 47, 47);
    float: left;
}
.paraone{
    margin-top: 50px;
    margin-left: 50px;
}
.images{
    margin-left: 40px;
    padding: 10px;
}
.imagess{
    margin-left: 40px;
    padding: 10px;
}
.imagesss{
    margin-left: 40px;
    padding: 10px;
}
.about{
    padding: 30px;
    margin: 10px;
    text-align: justify;
    font-size: 2.4em;
    font-stretch: expanded;
    font-weight: bolder;
    font-style: normal;
    color: rgb(248, 47, 47);
    font-family: Arial, Helvetica, sans-serif;
}
.two{
    width: 50px;
    border: 5px solid red;
    color: rgb(248, 47, 47);
    float: left;
}
.paratwo{
    margin-top: 50px;
    margin-left: 50px;
}
.teaming{
    padding: 30px;
    margin: 10px;
    text-align: justify;
    font-size: 2.4em;
    font-stretch: expanded;
    font-weight: bolder;
    font-style: normal;
    color: rgb(248, 47, 47);
    font-family: Arial, Helvetica, sans-serif;
}
.three{
    width: 50px;
    border: 5px solid red;
    color: rgb(248, 47, 47);
    float: left;
}
.parathree{
    margin-top: 50px;
    margin-left: 50px;
}
.right{
    border: 5px solid black;
    display: inline-block;
}
.middle{
    border: 5px solid black;
    display: inline-block;
    margin-left: 30px;
}
.left{
    border: 5px solid black;
    display: inline-block;
    margin-left: 30px;
}
.promotions{
    padding: 30px;
    margin: 10px;
    text-align: justify;
    font-size: 2.4em;
    font-stretch: expanded;
    font-weight: bolder;
    font-style: normal;
    color: rgb(248, 47, 47);
    font-family: Arial, Helvetica, sans-serif;
}
.four{
    width: 50px;
    border: 5px solid red;
    color: rgb(248, 47, 47);
    float: left;
}
.parafour{
    margin-top: 50px;
    margin-left: 50px;
}
button.signup{
    border: none;
    width: 140px;
    height: 50px;
    background-color: gray;
}
button.Signup{
    border: none;
    width: 140px;
    height: 50px;
    background-color: rgb(247, 37, 37);
}
.five{
    width: 50px;
    border: 5px solid red;
    color: rgb(248, 47, 47);
    float: left;
}
.basic{
    font-size: xx-large;
    font-weight: bold;
    font-stretch: expanded;
    font-style: inherit;
    text-align: center;
    background-color: rgb(248, 242, 242);
    display: inline-block;
}
.base{
    color: white;
    background-color: rgb(61, 58, 58);
    border: 3px;
    width: 100px;
    height: 80px;
}
.pro{
    font-size: xx-large;
    font-weight: bold;
    font-stretch: expanded;
    font-style: inherit;
    text-align: center;
    background-color: rgb(248, 242, 242);
    display: inline-block;
    margin-left: 50px;
}
.pros{
    color: white;
    background-color: rgb(250, 50, 50);
    border: 3px;
    width: 100px;
    height: 80px;
}
.Contacts{
    padding: 30px;
    margin: 10px;
    text-align: justify;
    font-size: 2.4em;
    font-stretch: expanded;
    font-weight: bolder;
    font-style: normal;
    color: rgb(248, 47, 47);
    font-family: Arial, Helvetica, sans-serif;
}
input.boxes{
    width: 600px;
    height: 20px;
}
.name{
    margin-bottom: 20px;
}
.e-mail{
    margin-bottom: 20px;
}
.message{
    margin-bottom: 20px;
}
.submitbutton{
    width: 600px;
    height: 40px;
    background-color: red;
    color: white;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}